*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Monserrat', sans-serif;
}

header{
    height: 200px;
    padding: 20px 0;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo_home img{
    position: absolute; /* Posição fixa dentro do header */
    margin-top: 1%;  /* Alinhado ao topo */
    left: 0; /* Alinhado à esquerda */
    margin: 10px; 
}

.perfil{
    position: absolute; /* Posição fixa dentro do header */
    margin-top: 2%;  /* Alinhado ao topo */
    right: 0; /* Alinhado à direita */
    margin: 10px; 
}

.header-search{
    position: absolute;
    margin-top: 3%;
    left: 50%;
    transform: translateX(-60%);

}

.body_header{
    display: flex;
    flex-direction: row;
    background-color: #1FB857;
    justify-content: space-around;
    
}

.imagens{
    display: flex;
    flex-direction: row;
}

.caderneta{
    display: flex;
    flex-direction: row;  
    left: 0; /* Alinhado à esquerda */
    margin: 10px;
}

.cidadao{
    display: flex;
    flex-direction: row;
    right: 0; /* Alinhado à direita*/
    margin: 10px; 
}

.container2{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
}

.indices{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
